body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    padding-bottom: 80px;
    min-height:90vh;
    background-color: #855839;
  }

.body{
    color: #e2c3a1;
padding-left: 30px;
}

h1,h2,h3,p{ 
    padding: 5px;
}

a{
    padding-right: 25%;
}

footer{
    background-color:#495e34 ;

    text-align: center;
    height: 50px;
    background-color:#495e34 ;
    color:black;
    padding:15px;
    position:absolute;
    width:100%;
    }
    